extends layout

block content
	head
	
		

		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="./radioHide.js")
		script(src="./js/dropzone.min.js")
		link(rel="stylesheet", href="./css/dropzone.min.css")

		script.
			Dropzone.autoDiscover = true;
			Dropzone.options.dropper = {
				uploadMultiple: false,
				autoProcessQueue: false,
				maxFiles: 1,
				maxFilesize: 2000,
				init: function(){
					var dropzone = this;
					this.element.querySelector("button[type=submit]").addEventListener("click", function(e){
					
					
						e.preventDefault();
						e.stopPropagation();
						dropzone.processQueue();
					});
					this.on("sending", function(file){
						
						$('div[id^="bar"]').show();
					});
					this.on("totaluploadprogress", function(progress){
						
						$('.progress-bar').css('width', progress+'%').attr('aria-valuenow', progress);
					});
				}
			}
	include banner_in
	include sidebar


	form.dropzone(action="/encrypt", id="dropper" method="POST", name="form")
		.dropzone-previews
		div.box(style="float: left;")
			b Create Key      
			input(type="checkbox" id="make_key" value="check" name="checkbox")
		div.key(style="float: right;" id="key_text")
			input.form-control(type="text", name="key" id="key_text_field" placeholder = "key")
		br
		br
		button.btn.btn-default(type="submit") Upload
	div.progress(id="bar")
		.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
			span.sr-only(id="status") 0
	style. 
		* {
			margin: 0; 
			padding: 0;
		}
		
		.progress{
			position: absolute;
			left: 30%
			
			top: 92%;
			width: 20%
		}
		.key{
			position: absolute;
			left: 120px;
			top: 30px;
			right: 10px;
		}
		.box{
			position: absolute;
			top: 35px;
			left: 5px;
		}
		.title{
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
		
		}
		.percent{
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
		
		}
		.dropzone{
			font-size: 16px;
			position: absolute;
			border-radius: 10px;
			text-align: left;
			padding: 200px;

			border: 2px dashed #BBB;
			color: #BBB;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
		
		}
		.btn{
			
			position: absolute;
			padding: 25px;
			padding-right: 50px;
			padding-left: 50px;
			left: 50%;
			top: 120px;
			transform: translate(-50%, 0%);
		}
