doctype html
html
	head(align="center")
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		
		script(src="./progress.js")
		script(src="/javascripts/controller.js")

		#banner
			#banner-content
				p SecureMe
		
		div(align="center")
			img(src="./mainCloudComputing.png" align="middle")
	body
		.main
			block content
