extends layout

block content
	head
		script(src="./progress.js")
		script(src="./js/dropzone.js")
		script(src="./radioHide.js")

	

	form.dropzone(action="/file-upload", id="my-awesome-dropzone")
		input(type="file", name="file")

	form(name="form", action="/upload", method="POST", enctype="multipart/form-data")
	
		div.input
			input(type="radio", name="radio", value="yes", checked="checked") 
			a Automatically Generate Key
		div.input
			input(type="radio", name="radio", value="no") 
			a Provide Key
		div#key.input
			input(type="text", name="key")

		div.input
			input(type="file", name="file")

		div.actions
			input(type="submit")
			
	p Percent Complete:
	span(id="status") 0
	

