extends layout

block content
	html
	
		body
			include banner_in
			include sidebar
			.error
				if (prompt=="true")
					.alert.alert-success #{message}
						

			.stats.h1
				b Statistics
	
	style.
		.stats{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, 0%);
		}
		.error{
			position: absolute;
			left: 50%;
			top: 40%;
			transform: translate(-50%, 0%);
			width: 20%;
		
		}